/* Stile generale */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family:  'Montserrat', 'Helvetica Neue', sans-serif;
    background-color: rgb(226, 224, 224);
    font-size: 20px;
}

/* Stile header */
header{
    font-family:   'Nerko One', cursive;
    background-color: white;
    color: rgba(255,150,20,255);
}

h1{
    padding-left: 10px;
    font-size: 40px;
}

/* tablet version */


/* mobile version */
@media screen and (max-width:480px) {
    h1{
        text-align: center;
    }
}

/* Stile main */
.container{
    width: 80%;
    margin: 0 auto;
    
}

/* Stile section-video */
.video-container{
    width: 100%;
    display: flex;
    background-color: white;

}

.video {
    width: 70%;
}

.video img{
    width: 100%;
}
.text-container{
    width: 30%;
}

.text{
    width: 90%;
    margin: 0 auto;
}

/* Stile section-btn-social */
.btn-container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 30px 0;
    gap: 20px;
}

.button {
  background-color: white;
  border: none;
  border-radius: 50px;
  padding: 15px 0;
  width: calc(100%/5);
  font-size: 16px;
}

/* Stile section-banner-adv */
.container-banner-adv img{
    width: 100%;
}

/* Stile section-presentation */
#section-presentation h2{
    font-size: 40px;
    margin: 30px 0 5px 0;
}

.divisore{
    border: 2px solid rgba(246,183,113,255);
    width: 100px;
    margin-bottom: 30px;
}

.float{
    float: left;
    margin-right: 10px;
}

.container-float img{
    width: 30%;
}


/* tablet version */
@media screen and (max-width:768px) {
    .container{
        width: 90%;
    }

    .video-container{
        display: block;
    }
    
    .video {
    width: 100%;
    }

    .text{
    width: 100%;
    }
    
    .button b{
        display: none;
    }

    .container-float img{
    width: 40%;
    }
}  

/* mobile version */
@media screen and (max-width:480px) {
    .button {
    padding: 5px 10px;
    }

    #section-banner-adv{
        display: none;
    }

    #section-presentation h2{
    margin: 0 0 5px 0;
    }

    .float{
    float: none;
    }

    .container-float img{
    width: 50%;
    display: block;
    margin: 0 auto;
    }
}  

/* Stile footer */


/* tablet version */


/* mobile version */